*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f7fbff;
    font-family: 'Mulish', sans-serif;
}

.app-container{
    margin: 0;
    padding: 0;
    margin: auto;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;

}
.main img{
    max-width: 500px;
}

.form-group{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 90%;
    margin: auto;
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    color: #eeeeee;
    -webkit-animation: sombra 5s ease-in infinite;
            animation: sombra 5s ease-in infinite;

    position: relative;
}

.form-group__step{
    position: absolute;
    background-color: #2a2a2a;
    right: -15px;
    top: -15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.453);
    font-weight: bold;
    padding: 1.5rem;
}
.form-group__step.last-step i{
    color: lime
}

@-webkit-keyframes sombra{
    0%{
        box-shadow: 10px 10px 15px #00000031;
    }
    25%{
        box-shadow: -10px 10px 15px #00000031;
    }
    50%{
        box-shadow: -10px -10px 15px #00000031;
    }
    75%{
        box-shadow: 10px -10px 15px #00000031;
    }
    100%{
        box-shadow: 10px 10px 15px #00000031;
    }
}

@keyframes sombra{
    0%{
        box-shadow: 10px 10px 15px #00000031;
    }
    25%{
        box-shadow: -10px 10px 15px #00000031;
    }
    50%{
        box-shadow: -10px -10px 15px #00000031;
    }
    75%{
        box-shadow: 10px -10px 15px #00000031;
    }
    100%{
        box-shadow: 10px 10px 15px #00000031;
    }
}

.form-group .group-input input{
    width: 100%;
    background-color: #eeeeee;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: .5rem;
}
.form-group .group-input .input-form {
    margin: 1rem 0;
}

.step-init{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.group-button-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}

button:hover{
    transition: all 1s;
    transform: scale(1.025, 1.025);
}

@media (min-width: 992px) {
    .form-group{
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
}
